parameters:
  fileExtensions:
    - php
    - phpt
  level: 7
  paths:
    - Modelarium/
    - tests/
  excludes_analyse:
    - Modelarium/Laravel/Targets/stubs/*
  checkMissingIterableValueType: false