parameters:
  fileExtensions:
    - php
    - phpt
  level: 7
  ignoreErrors:
    - "#Function base_path not found.#"
    - "#Function config_path not found.#"
  paths:
    - Modelarium/
    - tests/
  excludes_analyse:
    - Modelarium/Laravel/Targets/stubs/*
  checkMissingIterableValueType: false
includes:
  - vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
