<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Modelarium</directory>
            <exclude>
                <file>Modelarium/Boot.php</file>
                <directory>Modelarium/Laravel/Targets/stubs</directory>
                <directory>Modelarium/Laravel/Console</directory>
                <directory>Modelarium/Frontend</directory>
                <file>Modelarium/Laravel/ServiceProvider.php</file>
            </exclude>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="The project's test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>